In [1]:
pip install psycopg2-binary

Requirement already satisfied: psycopg2-binary in c:\users\lenovo\anaconda3\lib\site-packages (2.9.10)
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\lenovo\anaconda3\lib\site-packages (9.1.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
# import libraries
import pandas as pd
import numpy as np
import mysql.connector
import sqlalchemy
import warnings
warnings.filterwarnings('ignore')

In [4]:
mydb = mysql.connector.connect(
    host = 'database-2.crmo6w0ei4r1.eu-north-1.rds.amazonaws.com',
    port = 3306,
    user = 'admin',
    password = 'Harish2003_')

In [5]:
mycursor = mydb.cursor()

In [6]:
mycursor.execute('show databases')

In [7]:
mycursor.fetchall()

[('chefmate',),
 ('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('sys',)]

In [9]:
mycursor.execute('create database zomato')

mydb.commit()

In [10]:
mycursor.execute('show databases')

mycursor.fetchall()

[('chefmate',),
 ('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('sys',),
 ('zomato',)]

In [11]:
server = 'database-2.crmo6w0ei4r1.eu-north-1.rds.amazonaws.com'
port = 3306
user = 'admin'
password = 'Harish2003_'
database = 'zomato'
sqltype = "mysql+mysqlconnector"

engine = sqlalchemy.create_engine(f'{sqltype}://{user}:{password}@{server}:{port}/{database}')

In [12]:
# Load the cleaned data
df = pd.read_csv(r"C:\Users\Lenovo\Downloads\project 6\Zomato_cleaned_data.csv")

In [13]:
df.to_sql("restaurant",con=engine,if_exists = 'replace')

29753

#SQL query
#query = "SELECT * FROM restaurant"
#Load data into a DataFrame
#df = pd.read_sql(query, engine)

# remove one index
#df = df.drop(columns=['index'])